* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:invalid {
  border-color: red;
}

body {
  font-family: Calibri, sans-serif;
  color: white;
  background-color: rgb(17, 17, 17);
  margin: 2rem 4rem;
}

.heading {
  margin-bottom: 2rem;

  &>* {
    display: inline;
  }
}

.calculator {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.calculator label {
  text-align: center;
}

.calculator input {
  /* height: 3rem; */
  width: 90%;
  font-size: 3em;
  overflow: visible;
}

.calculator p {
  text-align: center;
  margin-bottom: .4em;
}

.input-hint-perm {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}