* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:invalid {
  border-color: red;
}

body {
  font-family: Calibri, sans-serif;
  color: white;
  background-color: rgb(17, 17, 17);
  margin: 2rem 4rem 0;
}

.heading {
  margin-bottom: 2rem;

  &>* {
    display: inline;
  }
}

#calculator {
  margin-bottom: 2rem;
}

.calculator {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.calculator label {
  text-align: center;
}

.calculator input {
  /* height: 3rem; */
  width: 90%;
  font-size: 3em;
  overflow: visible;
}

.calculator p {
  text-align: center;
  margin-bottom: .4em;
}

.input-hint-perm {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

footer {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1vh 0;
  font-size: .8rem;
  text-align: center;
}

.coming-soon {
  display: block;
  position: relative;
  border-radius: 1rem;
  border: 2px dashed lightgray;
  height: 6rem;
  padding: 1rem;
  color: lightgray;
  font-size: 2rem;
  text-align: center;

  &:hover {
    color: white;
    background: rgba(211, 211, 211, 0.15);
  }
}